/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "Noto Sans", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */

.project {
	font-family: "rooney-web", "Noto Sans", "AmericanTypewriter", Rockwell, serif;
	margin: 2em auto;
	width: 265px;
}

.pointer-down {
	margin-left: 85%;	
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #424242;
}

.pop-up {
	font-size: 0.75em;
	color: #FFF;
	text-align: center;
	border-radius: 0.25em;
	background-color: #424242;
	padding: 1em 0;
}

.group {
	display: flex;
	align-content: stretch;
	width: 100%;
}

.progress{
	height: 0.75em;
	margin-top: 0.25em;
}

#progress-bar {
	width: 75%;
	background-color: #F15E33;
}

#empty-progress-bar {
	width: 25%;
	background-color: #FAFAFA;
	border: thin solid #E3E3E3;
}

.gift-form {
	padding: 0.5em 1.25em;
	box-shadow: 0 6px 0 -5px #F5F5F5;
	border: 1px solid #F5F5F5;
}

.form-text {
	color: #777;
	font-size: 0.73em;
	padding: 0.75em 0;
}

.highlight {
	color: #F15E33;
}

.input-btn-area {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#gift,
#give {
	font-size: 0.9em;
	width: 47%;
	border-radius: 0.25em;
}

#gift {
	font-weight: bold;
	padding: 0.9em;
	border: thin solid #E3E3E3;
}

#give {
	color: #FFF;
	background-color: #02BD1C;
}

.why {
	color: #6AC0E4;
	font-style: italic;
}

.actions {
	display: flex;
	justify-content: space-between;
}

.actions button {
	font-family: "rooney-web", "Noto Sans", "AmericanTypewriter", Rockwell, serif;
	color: #787878;
	border: thin solid #E3E3E3;
	margin: 1em 0;
	padding: 1em;
	background-color: #FAFAFA;
}
